body {
    background-color: #041C32;
    color: black;
}



.welcome {
    background-color: #FFFFFF;
    font-family: fantasy;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 75px;
    font-size: 75px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

.icons {
    filter: invert(100%);
    height: 500px;
    width: 250px;
}

.text{
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    color: white;
    font-style: italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }