.projectscontainer {
  background-color: #395b64;
  /* position: relative; */
  /* top: 200px; */
  color: white;
  padding: 0.5rem 0;
  margin: 1rem 0;
}

#title {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  margin: 0.5rem 0;
}
/* 
#game2048 {
  float: left;
}

#typinggame {
  float: right; 
}*/

.projectheading {
  font-size: 2rem;
  margin: 1rem;
  /* width: 10px; */
  /* position: relative; */
  /* top: 100px; */
  background-color: gray;
}

.projectheading p {
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
}

p a {
  text-decoration: underline;
}

p a:hover {
  color: red;
  cursor: pointer;
}
