.projectscontainer {
  border-radius: 15px;
  background-color: #395b64;
  color: white;
  padding: 0.5rem 0;
  margin: 2.5rem 0rem;
}

@media only screen and (min-width: 768px) {
  .projectscontainer {
    border-radius: 15px;
    background-color: #395b64;
    color: white;
    padding: 0.5rem 0;
    margin: 2.5rem 10rem;
  }
}

#title {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  margin: 0.5rem 0;
}

/* 
#game2048 {
  float: left;
}

#typinggame {
  float: right; 
}*/

.project {
  border-radius: 15px;
  font-size: 2rem;
  margin: 1rem;
  /* width: 10px; */
  /* position: relative; */
  /* top: 100px; */
  background-color: rgb(0, 88, 132);
}

.project p {
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
}

a .link {
  text-decoration: underline;
}

a .link:hover {
  color: red;
  cursor: pointer;
}

a b {
  color: black;
}

.project img {
  margin-left: 0.5rem;
}

.projectHead {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.projectHead span {
  margin-left: 0.75rem;
}
