.Projects {
    background-color: #395B64;
    position:relative; 
    top: 200px;
    color: white;
    
}

#title {
    font-size: 400%;
    text-align: center;
}

#game2048 {
    font-size: 30px;
    float:left; 
    width:50%;
    margin-left: 100px;
}

#typinggame{
    font-size: 30px;
    float:left; 
    width:50%;
}

