.home-container {
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
}

.home-container div {
  width: 50%;
}

.home-content-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10%
}

.home-container div > p {
  margin-top: 5%;
}

.home-container div > h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.home-container .image-container {
  margin-left: 28%;
}

#snoopy {
  margin-top: 10%;
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }

  .home-container div > p {
    color: var(--subtitle-color);
    font-size: 0.75rem;
  }

  .home-content-container {
    flex-direction: column-reverse;
  }
}
