.home-container {
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
}

.home-container .background {
  background: url("/images/logo.png") no-repeat center;
  filter: opacity(0.5) blur(2.5px);
  position: absolute;
  height: 100%;
  width: 100%;
}

.home-content-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.home-content-container > .title {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 700px) {
  .home-content-container > .title {
    font-size: 1.5rem;
  }

  .home-container div > p {
    color: var(--subtitle-color);
    font-size: 0.75rem;
  }

  .home-container .background {
    transform: scale(0.75);
  }
}
