i.icon-bar a {
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: grey;
  font-size: 36px;
}

.active {
  background-color: #141e20;
  transition: 0.75s ease-out;
}

/* i.icon-bar {
  width: 600px;
  background-color: #779ecb;
} */

.icon-bar {
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #395b64;
  z-index: 10;
  font-size: 2rem;
  border: 1.5px groove #1e2d31;
  border-style: none groove groove groove;
  /* margin-bottom: 5rem; */
}

.icon-bar-child {
  transition: 0.5s ease-out;
  color: white;
  text-decoration: none;
  padding: 1.5rem 3rem;
}

.icon-bar-child:hover {
  background-color: #8aa0a1;
}
