.navbar-container {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--background-color);
  color: var(--text-main-color);
  z-index: 1;
  font-size: 2rem;
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  background-color: var(--navbar-color);
}

.navbar-container .element {
  transform: scale(1);
  transition: ease-in-out;
  color: white;
}

.navbar-container .element:hover {
  transform: scale(1.02);
}

a > img {
  width: 2rem;
}

@media (max-width: 600px) {
  .navbar-container {
    font-size: 1.25rem;
    padding: 0.5rem;
  }
}
