.project-container {
  display: flex;
  justify-content: center;
  height: 200vh;
  align-items: center;
}

.project-card-container {
  background-color: var(--text-main-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
}

.project-content-container {
  margin: 5% 10%;
  display: flex;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-header .title {
  color: var(--subtitle-color);
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 0.5rem;
}

.project-description {
  color: var(--background-color);
  padding: 0.5rem;
}

.project-button {
  background-color: var(--navbar-color);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--subtitle-color);
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  transform: scale(1);
  transition: ease-in-out;
}

.project-button:hover {
  transform: scale(1.02);
}

.projects-header {
  padding: 1rem;
  margin: 1rem;
}

.projects-header > .title {
  color: var(--subtitle-color);
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.projects-header > .sub-title {
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .project-content-container {
    flex-direction: column-reverse;
  }
}
